body{
    background: yellowgreen;

}
input[type="text"],input[type="password"]{
    border: 2px solid ;
    padding: 12px 16px;
    border-radius: 4px;
    width: 100%;
}
.container{
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
button, input[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    text-align: center;
    color: #333;
}
